<form action="/users/update" method="post">
    <input name="id" type="hidden" value="{{user.id}}"/>
    <label>Nome</label>
    <input name="nome" value="{{user.nome}}"/>
    <label>Email</label>
    <input name="email" value="{{user.email}}">
    <input type="submit" value="Enviar"/>
</form>
