<link rel="stylesheet" type="public/css" href="style.css">

<form action="/users/add" method="post">
    <label>Nome</label>
    <input type="nome" name="nome"/>
    <br>
    <br>
    <label>Email</label>
    <input type="email" name="email">
     <label>Senha</label>
    <input name="senha" type="password"/>
    <input type="submit" value="Enviar"/>
</form>
