<label>ID</label>
<input value="{{user.id}}" readonly/>

<label>Nome</label>
<input value="{{user.nome}}"  readonly/>

<label>Email</label>
<input value="{{user.email}}"  readonly/>

<a class="btn btn-primary" href="/users/index" role="button">Voltar</a>
