<form action="/posts/update" method="post">
    <input name="id" type="hidden" value="{{post.id}}"/>
    <label>Titulo</label>
    <input name="titulo" value="{{post.titulo}}"/>
    <label>Texto</label>
    <input name="texto" value="{{post.texto}}">
    <input type="submit" value="Enviar"/>
</form>
