<form action="/posts/add" method="post">
    <label>Titulo</label>
    <input name="titulo"/>
    <textarea name="texto" id="" cols="30" rows="10"></textarea>
    <select name="users_id">
        {{#each users}}
            <option value="{{this.id}}">{{this.nome}}</option>
        {{/each}}
    </select>
    <input type="submit" value="Enviar"/>
</form>