<label>ID</label>
<input value="{{post.id}}" readonly/>
<label>Titulo</label>
<input value="{{post.titulo}}"  readonly/>

<label>Texto</label>
<input value="{{post.texto}}"  readonly/>
<a class="btn btn-primary" href="/posts/index" role="button">Voltar</a>
